angular2-codes-master/03/AngularBase/.idea/
angular2-codes-master/03/AngularPanel/.idea/
angular2-codes-master/03/AngularPlayList/.idea/
angular2-codes-master/04/AngularPlayListConfigService/.idea/
angular2-codes-master/04/LibraryModules/.idea/
angular2-codes-master/05/AngularForms/.idea/
angular2-codes-master/06/AngularHttp/.idea/
